body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.allrps{
    background:#2d2a3d;

}
.Navbarr{
   background-color:  rgb(28,28,216);
   
}
#opponent-choice {
    width: 240px;
    height: 240px;
    /* background-color: cyan; */
    margin-top: 10px;
}

#your-choice {
    width: 240px;
    height: 240px;
    
    margin-top: 10px; 
}

#choices {
    width: 240px;
    height: 80px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}
.choice{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: antiquewhite;
    
}
.you{
    list-style: none;
}
.picchoice{
display: flex;
gap: 100px;
flex-direction: row;
justify-content: center;


}
.vs{
    display: flex;
    align-items: flex-end;
    height: 120px;
    font-size: 40px;
    color:blanchedalmond
}
.opponentchoice{
    transform: rotate(180deg);
}